

#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#modal-content {
   background-color: #fefefe;
    margin: 15% auto; 
    max-width: 100%; 
}

/* The Close Button */
#modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#modal.close:hover,
#modal.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.product{ border-color: blue;
             border-width:3px; 
             border-style:solid;
        }
        
.nav {
    width:100%;
    background-color: #660000;
    overflow:auto;
}
ul{
    padding:0;
    margin:0;
    list-style:none;
}
li{
    list-style-type: none;
}

a.link{
    width:130px;
    display:block;
    padding:15px;
    color:white;
    text-decoration:none;
    font-family:Verdana;
    font-size:20px;
    text-alight:center;
    text-transform:uppercase;
}
/*
#query{
    width:300px;
    padding:5px;
    border-radius:0 10px 10px 0;
    border:none;
    border:1px solid blue;
    font-size:17px;
    text-align:center;
    margin-top:13px;
    float:right;
}

*/